.landing-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #042603;
    background-image: url("../assets/tree.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.mobile-screen {
    width: 393px;
    height: 852px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.titlebox {
    position: absolute;
    background: rgba(0, 0, 0, 0.333);
    width: 90%;
    top: 5%;
    left: 5%;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    color: white;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    margin: 0;
    text-align: center;
    background-color: transparent;
}

.stars {
    top: 20%;
    left: 14%;
    position: absolute;
    display: flex;
    gap: 10px;
    margin: 20px 0;
    background-color: transparent;
}

.star {
    font-size: 100px;
    background-color: transparent;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    color: rgb(255, 208, 0);
}

.star2 {
    font-size: 100px;
    background-color: transparent;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    color: rgb(89, 89, 89);
}


.big {
    font-size: 120px;
}

.scoreboard {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 50%;
    background-color: #19FC2145;
    border-radius: 30px;
    padding: 15px 0px;
}

.score-box {
    width: 80%;
    max-width: 300px;
    background: #f9bd20;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid white;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.score-box p {
    margin: 0;
    color: white;
    background-color: transparent;
}

.score-box span {
    font-weight: 900;
    color: white;
    background-color: transparent;
}

.play-again-btn {
    top: 80%;
    left: 21%;
    position: absolute;
    background-color: #29E510;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.play-again-btn:hover {
    background-color: #28a745;
}